/* Add screen styles below */

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color: #242424;
    margin: 0;
    background: #fff;
}

main {
    max-width: 1250px;
    min-width: 1005px;
    margin: 0 auto;
}

h1 {
    font-size: 2.2em;
    margin: 0;
    text-align: center;
}

.masttext {
    font-size: 1.2em;
    margin: 20px;
    text-align: center;
}

p {
    line-height: 1.4em;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: #edededba;
    box-shadow: 0 1px 1px #1010101a;
    padding: 20px;
    margin: -30px -30px 0px -30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 10px;
}

a:link {
    color: rgb(0, 0, 0);
}
  
a:visited {
    color: rgb(0, 0, 0);
}
  
a:hover {
    color: black;
    font-weight: bold;
}
  
a:active {
    color: black;
    font-weight: bold;
  }
a:link, a:visited {
    text-decoration: none;
}

img[src="Assets/Memoji-12.png"] {
    width: 70px;
}

.founders {
    display: flex;
    gap: 25px;
}

.founders section {
    flex-grow: 1;
    flex-basis: 0;
    background: #E9EAEC;
    border-radius: 20px;
    margin-top: 25px;
}
.founders section p {
    margin: 25px;
}

.founders section h2 {
    margin: 25px;
}

.founders section.founder {
    padding: 0;
}

div.found-img1 {
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 200px;
    background: no-repeat center / cover url('Assets/Untitled8.png');
}
div.found-img2 {
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 200px;
    background: no-repeat center / cover url('Assets/Untitled6.png');
}

div.found-img3 {
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 200px;
    background: no-repeat center / cover url('Assets/Untitled.jpg');
}

#about-me {
    display: flex;
    gap: 10px;
}

#about-me div {
    padding: 20px; 
    margin: 20px;
    border-radius: 20px; 
    background: #E9EAEC;
}

#about-me h2 {
    text-align: center;
}

#about-me img {
    width: 100%;
    border-radius: 50%;
}